<%- include("./partials/header") %>
<div class="container">
    <div class="row aboutDiv">
        <div class="col-3 col-md-0"></div>
        <div class="col-6 col-md-6 text-center aboutContent">

            <p>Hi, my name is JP. There is nothing that makes more sense to me in life than music, so I created this space for sharing an album
                every day. I think that the music that we listen defines what we think about, where we focus our energy, and what is important to us. 
                It has been a helpful part of my experience to discover which is the music with which I resonate, and this place is a consequence of that.
            </p>

            <p>I hope that you find something useful here, and I would love to hear from you at <strong>jp@jpfraneto.com</strong> </p>
            
            <a class="btn btn-dark" href="/">Back</a>
        </div>
        <div class="col-3 col-md-0"></div>
    </div>
</div>


<%- include("./partials/footer") %>