<%- include("./partials/header") %>
<div class="container">
    <div class="row aboutDiv">
        <div class="col"></div>
        <div class="col text-center aboutContent">
            <h1>Subscription</h1>

            <p>
                Thank you for subscribing. I will try my best to surprise you every day with some music that will blow your mind.
            </p>

            <p>JP</p>
            
            <a class="btn btn-dark" href="/">Back</a>
        </div>
        <div class="col"></div>
    </div>
</div>


<%- include("./partials/footer") %>